<ion-header>

  <ion-navbar>
    <ion-title>Cute Text Faces</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <section>
    <span *ngFor="let item of text_faces" attr.id={{item}} class="text_faces" (click)="addToFavourites(item)">{{item}}</span>
  </section>
  <section>
    <h1>Sad Text Faces</h1>
    <span *ngFor="let item of sad_text_faces" attr.id={{item}} class="text_faces" (click)="addToFavourites(item)">{{item}}</span>

  </section>

  <section>
    <h1>Super Cuute Text Faces</h1>
    <span *ngFor="let item of cute_text_faces" attr.id={{item}} class="text_faces" (click)="addToFavourites(item)">{{item}}</span>

  </section>

</ion-content>