page-add-text-faces {
    span {
        display: block;
    }

    .selectable {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }
}
