<ion-header>

  <ion-navbar>
    <ion-title>Western Text Faces</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="west_category">
      <ion-segment-button value="western_happy_text_faces">
        Happy
      </ion-segment-button>
      <ion-segment-button value="western_sad_text_faces">
        Sad
      </ion-segment-button>
      <ion-segment-button value="western_cute_text_faces">
        Cute
      </ion-segment-button>
      <ion-segment-button value="western_romance_text_faces">
        Romantic
      </ion-segment-button>
      <ion-segment-button value="western_angry_text_faces">
        Angry
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-toolbar>

    <div [ngSwitch]="west_category" class="selectable">
      <ion-list *ngSwitchCase="'western_happy_text_faces'">
        <section>
          <h1>:) Text Faces</h1>
          <ion-card *ngFor="let item of western_happy_text_faces" class="western_text_faces" attr.id={{item}} overflow-scroll="true">

            <ion-card-content>
              {{item}}
            </ion-card-content>

          </ion-card>
        </section>

      </ion-list>

      <ion-list *ngSwitchCase="'western_sad_text_faces'">
        <section>
          <h1>Sad Text Faces</h1>
          <ion-card *ngFor="let item of western_sad_text_faces" attr.id={{item}} class="western_text_faces" (click)="addToFavourites(item)">

            <ion-card-content>
              {{item}}
            </ion-card-content>

          </ion-card>

        </section>

      </ion-list>

      <ion-list *ngSwitchCase="'western_cute_text_faces'">
        <section>
          <h1>Cute Text Faces</h1>
          <span>{{item}}</span>

          <ion-card *ngFor="let item of western_cute_text_faces" attr.id={{item}} class="western_text_faces" (click)="addToFavourites(item)">

            <ion-card-content>
              {{item}}
            </ion-card-content>

          </ion-card>
        </section>

      </ion-list>

      <ion-list *ngSwitchCase="'western_romance_text_faces'">
        <section>
            <h1>Romance Text Faces</h1>

            <ion-card *ngFor="let item of western_romance_text_faces" attr.id={{item}} class="western_text_faces" (click)="addToFavourites(item)">
          
              <ion-card-content>
                {{item}}
              </ion-card-content>
          
            </ion-card>
        </section>
      </ion-list>

      <ion-list *ngSwitchCase="'western_angry_text_faces'">
        <section>

          <h1>Angry Text Faces</h1>
          <ion-card *ngFor="let item of western_angry_text_faces" attr.id={{item}} class="western_text_faces" (click)="addToFavourites(item)">
        
            <ion-card-content>
              {{item}}
            </ion-card-content>
        
          </ion-card>
        
        </section>
      </ion-list>


    </div>
  </ion-toolbar>
</ion-content>
