<ion-header>

  <ion-navbar>
    <ion-title>Stickers & GIFS</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="selectable">
  <p>Get all your animated emoji stickers here. You'll get a new mix of stickers every time.</p>
  <div padding>
    <ion-segment [(ngModel)]="sticker_type">
      <ion-segment-button value="emoji">
        Emoji
      </ion-segment-button>
      <ion-segment-button value="cute">
        Cute
      </ion-segment-button>

      <ion-segment-button value="effects">
        Effects
      </ion-segment-button>
      <ion-segment-button value="weather">
        Weather
      </ion-segment-button>

    </ion-segment>
  </div>

  <div [ngSwitch]="sticker_type">
    <ion-list *ngSwitchCase="'emoji'">

      <ion-item>
        <h1>Emoji</h1>

        <p>Get all your animated stickers here. They're perfect for message reactions! Just copy the link below the sticker
          you wish to send. 👀</p>

        <img src="../../assets/imgs/giphy_dark_rectangle.PNG">


      </ion-item>

      <ion-card *ngFor="let item of link_array" class="sticker_container">
        <img src={{item}}/>
        <ion-card-content>
          <ion-card-title>

          </ion-card-title>

          <ion-item>
            <p>{{item}}</p>
            <a button href={{item}} item-right>
              <ion-icon name="copy"></ion-icon>Copy</a>

          </ion-item>
          <ion-item>

            <ion-input type="text" class="link" value={{item}}>{{item}}</ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'cute'">
      <ion-item>
        <h1>Cute</h1>
        <p>From the kawaii to the super cute, these adorable stickers will have you blushing.</p>
        <img src="../../assets/imgs/giphy_dark_rectangle.PNG">

      </ion-item>

      <ion-card *ngFor="let item of cute_link_array" class="gif_container">
        <img src={{item}}/>
        <ion-card-content>
          <ion-card-title>

          </ion-card-title>
          <p class="link">{{item}}</p>
          <ion-item>

            <ion-input type="text" class="link" value={{item}}>{{item}}</ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'effects'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h1>Effects</h1>
        <p>Add a touch of magic to your next convo.</p>
        <img src="../../assets/imgs/giphy_dark_rectangle.PNG">

      </ion-item>

      <ion-card *ngFor="let item of effects_link_array" class="gif_container">
        <img src={{item}}/>
        <ion-card-content>
          <ion-card-title>

          </ion-card-title>
          <p class="link">{{item}}</p>
          <ion-item>

            <ion-input type="text" class="link" value={{item}}>{{item}}</ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'weather'">
      <ion-item>
        <h1>Weather</h1>
        <p>Raining? Sun shining? There's a sticker for that.</p>
        <img src="../../assets/imgs/giphy_dark_rectangle.PNG">

      </ion-item>

      <ion-card *ngFor="let item of weather_link_array" class="gif_container">
        <img src={{item}}/>
        <ion-card-content>
          <ion-card-title>

          </ion-card-title>
          <p class="link">{{item}}</p>
          <ion-item>

            <ion-input type="text" class="link" value={{item}}>{{item}}</ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>


  </div>

</ion-content>